.blog-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blog-header {
  gap: 50px;
  width: 100%;
  height: 360px;
  display: flex;
  padding: 30px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 217, 228, 1);
}
.blog-navbar {
  gap: 14px;
  width: 1216px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.blog-text {
  color: rgba(26, 26, 26, 1);
  width: 131px;
  height: auto;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-menu {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.blog-blog {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-text02 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-about {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-text04 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-newsletter {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.blog-text06 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-toggle-mode {
  gap: 16px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-radius: 29px;
  background-color: rgba(9, 13, 31, 1);
}
.blog-iconoutlinesun {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-sun {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-vector {
  top: 4.75px;
  left: 4.75px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.blog-vector1 {
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.blog-iconoutlinemoon {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.blog-moon {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.blog-container1 {
  gap: 260px;
  width: 1216px;
  height: 146px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.3400000035762787);
  border-style: solid;
  border-width: 1px 0;
}
.blog-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 100px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.blog-blog1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(241, 217, 228, 1);
}
.blog-section {
  gap: 64px;
  width: 1434px;
  height: 669px;
  display: flex;
  padding: 30px 0;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 217, 228, 1);
}
.blog-section1 {
  gap: 64px;
  display: flex;
  padding: 30px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.blog-container2 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-text12 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
}
.blog-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-blogpostcard {
  gap: 32px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-image {
  width: 592px;
  height: 380px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/external/tq_4qxbxagqrm-gu17-400h.png");
}
.blog-content01 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext {
  gap: 12px;
  width: 592px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-text14 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text16 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright {
  width: 24px;
  height: 24px;
}
.blog-text18 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-column {
  gap: 32px;
  width: 592px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.blog-blogpostcard01 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-image01 {
  width: 320px;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_kdgr5hj3vh-q2yl-400w.png");
}
.blog-content02 {
  gap: 24px;
  width: 248px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-headingandtext01 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text20 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandtext02 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text22 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.blog-text24 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-badge {
  display: flex;
  align-items: flex-start;
}
.blog-badge1 {
  display: flex;
  align-items: flex-start;
}
.blog-blogpostcard02 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-image02 {
  width: 320px;
  height: 200px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_nb-swxm5sl-fpy-400w.png");
}
.blog-gettyimages474025918wide0712d698a0b203d02c91d4d6b8 {
  top: 0px;
  left: 0px;
  width: 320px;
  height: 200px;
  position: absolute;
}
.blog-content03 {
  gap: 24px;
  width: 248px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-headingandtext03 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text26 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandtext04 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text28 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.blog-text30 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-section2 {
  gap: 64px;
  display: flex;
  padding: 30px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 217, 228, 1);
}
.blog-container3 {
  gap: 32px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-content04 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-blogpostcard03 {
  gap: 32px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.blog-image03 {
  width: 592px;
  height: 246px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_i4gygeciu9-77j-300h.png");
}
.blog-content05 {
  gap: 24px;
  width: 592px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-headingandtext05 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text32 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text34 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap1 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright1 {
  width: 24px;
  height: 24px;
}
.blog-text36 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-section3 {
  gap: 64px;
  display: flex;
  padding: 30px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 217, 228, 1);
}
.blog-container4 {
  gap: 30px;
  width: 1280px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-headingandcontent {
  gap: 32px;
  width: 1216px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-text38 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
}
.blog-content06 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-row {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.blog-blogpostcard04 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image04 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/external/tq_i-9fx7tcly-uect-300h.png");
}
.blog-content07 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext06 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text40 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text42 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap2 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright2 {
  width: 24px;
  height: 24px;
}
.blog-text43 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-badge2 {
  display: flex;
  align-items: flex-start;
}
.blog-badge3 {
  display: flex;
  align-items: flex-start;
}
.blog-blogpostcard05 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image05 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tq_dlh9-nodst-axlb-300h.png");
}
.blog-image06 {
  width: 200px;
  object-fit: cover;
}
.blog-content08 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext07 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text44 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text46 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap3 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright3 {
  width: 24px;
  height: 24px;
}
.blog-text48 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-text49 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories4 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-badge4 {
  display: flex;
  align-items: flex-start;
}
.blog-badge5 {
  display: flex;
  align-items: flex-start;
}
.blog-blogpostcard06 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image07 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/external/tq_xduf6hxfnn-y4aq-300h.png");
}
.blog-image08 {
  width: 200px;
  object-fit: cover;
}
.blog-content09 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext08 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text50 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text52 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap4 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright4 {
  width: 24px;
  height: 24px;
}
.blog-text54 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories5 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-row1 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.blog-blogpostcard07 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image09 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tq_rfcdapcbvr-aaog-300h.png");
}
.blog-image10 {
  width: 200px;
  object-fit: cover;
}
.blog-content10 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext09 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text55 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text57 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap5 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright5 {
  width: 24px;
  height: 24px;
}
.blog-text59 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories6 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-blogpostcard08 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image11 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tq_czyqfnuxje-lgm-300h.png");
}
.blog-image12 {
  width: 200px;
  object-fit: cover;
}
.blog-content11 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext10 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text61 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text63 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap6 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright6 {
  width: 24px;
  height: 24px;
}
.blog-text65 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-blogpostcard09 {
  gap: 32px;
  width: 384px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.blog-image13 {
  width: 384px;
  height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/external/tq_dj9geajesq-el8-300h.png");
}
.blog-content12 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-headingandtext11 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-text67 {
  color: rgba(104, 64, 198, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.blog-headingandicon7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text69 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.blog-iconwrap7 {
  display: flex;
  padding: 4px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
.blog-arrowupright7 {
  width: 24px;
  height: 24px;
}
.blog-text71 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.blog-categories7 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-badge6 {
  display: flex;
  align-items: flex-start;
}
.blog-pagination {
  gap: 20px;
  display: flex;
  padding: 20px 0 0;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  justify-content: space-between;
}
.blog-button {
  display: flex;
  align-items: flex-start;
}
.blog-frame-buttonbase {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-arrowleft {
  width: 20px;
  height: 20px;
}
.blog-text73 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.blog-paginationnumbers {
  gap: 2px;
  display: flex;
  align-items: flex-start;
}
.blog-frame-paginationnumberbase {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(249, 245, 255, 1);
}
.blog-content13 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text75 {
  color: rgba(126, 86, 216, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase1 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content14 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text76 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase2 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content15 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text77 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase3 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content16 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text78 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase4 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content17 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text80 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase5 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content18 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text81 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-frame-paginationnumberbase6 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.blog-content19 {
  top: 0px;
  left: 0px;
  width: 40px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
.blog-text82 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.blog-button1 {
  display: flex;
  align-items: flex-start;
}
.blog-frame-buttonbase1 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-text84 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.blog-arrowright {
  width: 20px;
  height: 20px;
}
.blog-footer {
  gap: 64px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 217, 228, 1);
}
.blog-container5 {
  gap: 14px;
  width: 1216px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog-text86 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-menu1 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.blog-text88 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-text90 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.blog-text92 {
  color: rgba(26, 26, 26, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .blog-text08 {
    color: rgb(0, 0, 0);
  }
  .blog-text10 {
    color: #ffeeee;
    box-shadow: rgb(232, 171, 171) 5px 5px 10px 0px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 800;
  }
  .blog-text43 {
    color: rgb(102, 112, 132);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    line-height: 24px;
    letter-spacing: 0em;
  }
  .blog-image05 {
    background-image: url("/external/tq_dlh9-nodst-axlb-300h.png");
  }
  .blog-image06 {
    width: 396px;
    height: 254px;
  }
  .blog-text49 {
    color: rgb(102, 112, 132);
    line-height: 24px;
  }
  .blog-image08 {
    width: 100%;
    height: 249px;
  }
  .blog-image10 {
    width: 371px;
    height: 100%;
  }
  .blog-image12 {
    width: 300px;
  }
}
